/* 3 kiểu dùng css
- inline (phèn)
- internal (cũng phèn)
-external (đúng đúng đúng) */

/* Các đơn vị hay dùng
* Absolute units
- px
- pt
- cm
- mm
- inch
- picture

* Relative units
- %
- rem (bằng kích cỡ chữ của thẻ html - mặc định là 16px)
- em  (bằng kích cỡ chữ của thẻ cha chứa nó gần nhất có set font-size)
- vw (chiều rộng bằng chiều ngang của màn hình hiển thị)
- vh (chiều cao bằng chiều dọc của màn hình hiển thị) */

/* Hàm trong css
- var()
- linearGradient()
- rgba()
- rgb
- calc()
- attr() */

:root {
    --text-color: #FFFFFF;
    --background-color: #00171F;
    --button-color: #003459;
    --other-color: #007EA7;
    --button-2nd-color: #00A8E8;
}  /* Đặt biến giống trong ngôn ngữ lập trình khác thôi =))) */



