:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
}

*{
    box-sizing: inherit;
    /* Kế thừa bz từ thẻ chứa nó */
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.6rem;
}
