/* 
    PC: >= 1024px
    Tablet: >= 740px & < 1024px
    Mobile: < 740px
*/

/* PC */
/* @media (min-width: 1024) {
    
} */

/* Tablet */
/* @media (max-width: 1023px) and (min-width: 741px) {
    
} */

/* Tablet & mobile */
@media (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 740px) {
    .s-full-witdh,
    .s-one-col {
        width: 100% !important;
    }


    .s-mt-16 {
        margin-top: 16px;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .nav-search {
        display: none;
    }

    #header .nav-bar {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #nav {
        display: block
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li  a{
        display: block;
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background:#333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .s-one-col  {
        /* margin-top: 30px; */
        width: 100%;
    }
    
    #content .member-avt {
        width: 60%;
    }
}