/* 3 kiểu dùng css
- inline (phèn)
- internal (cũng phèn)
-external (đúng đúng đúng) */

/* Các đơn vị hay dùng
* Absolute units
- px
- pt
- cm
- mm
- inch
- picture

* Relative units
- %
- rem (bằng kích cỡ chữ của thẻ html - mặc định là 16px)
- em  (bằng kích cỡ chữ của thẻ cha chứa nó gần nhất có set font-size)
- vw (chiều rộng bằng chiều ngang của màn hình hiển thị)
- vh (chiều cao bằng chiều dọc của màn hình hiển thị) */

/* Hàm trong css
- var(): gọi biến vào
- linearGradient()
- rgba()
- rgb
- calc(): tính toán 
- attr() */

/* Pseudo-classes (lớp giả) */

:root {
    --text-color: #FFFFFF;
    --background-color: #00171F;
    --button-color: #003459;
    --other-color: #007EA7;
    --button-2nd-color: #00A8E8;
    --nav-heigh: 46px;
}  /* Đặt biến giống trong ngôn ngữ lập trình khác thôi =))) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} /* reset css */

html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}
/* 
Chọn cùng lúc nhiều Class, ID đưa qua css
Bôi đen điểm chung -> CTRL +  SHIFT + L -> Mũi tên qua phải ( > ) -> CTRL + SHIFT + ( > ) -> CTRL + C 
-> Qua file css paste -> ALT + CLICK  -> # -> CTRL + ( > ) -> {}
 */

/* 
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí (Vị trí các phần; Header, Content, ...)
2. Kích thước
3. Màu sắc
4. Styles (Fonts chữ, tròn, vuông, ...)
*/

/* 
Chiếc web này gồm
1. Header (Done)
    1.1. Navigation (Done)
    1.2. Search button  (Done)
2. Slider (Done)
3. Content
    3.1. About
    3.2. Tour
    3.3. Contact
    3.4. Img
4. Footer
*/

/* Common */
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.one-col {
    width: 100%;
}

.two-cols {
    width: 50%;
}

.three-cols {
    width: calc(100% / 3);
}

.clear {
    content: " ";
    clear: both;
}

.text-white {
    color: #FFF !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

/* Main */
#main{
    /* overflow: hidden; lấp đầy khoảng trắng do phần tử con tạo ra */
}

#header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    height: var(--nav-heigh);
    z-index: 1;
    overflow: hidden;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav  li {
    position: relative;
}

#nav > li > a {
    color: #FFFFFF;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: var(--nav-heigh);
    padding: 0px 24px;
    /* padding: 12px 24px; */
}

#nav > li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    display: inline-block;
    color: #000;
    background-color: #CCC;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #FFF;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    display: block;
    color: #000;
    min-width: 160px;
    padding: 0px 12px;
    line-height: 38px ;
}

#nav .subnav li:hover a {
    color: #000;
    background-color: #CCC;
}

#header .nav-bar {
    display: none;
}

#header .nav-bar,
#header .nav-search {
    display: inline-block;
    float: right;
    line-height: var(--nav-heigh);
    padding: 0px 16px ;
}

#header .nav-bar a,
#header .nav-search a {
    color: #FFF;
}

#header .nav-bar:hover {
    background-color: #CCC;
}

#header .nav-bar:hover a {
    color: #000;
}

#header .nav-search:hover {
    background-color: #F44336 !important;
    cursor: pointer;
}


/* Slider */
#slider {
    /* background-color: #CCC;
    height: 1000px; */
    position: relative;
    margin-top: var(--nav-heigh);
    padding-top: 50%;
    background: url('/the-band/assets/img/slider-1/chicago.jpg') top center / cover, no-repeat;
    /* https://youtu.be/BmkVXoKoqVA?t=640 */
}

#slider .slider-text{
    color: #FFF;
    position: absolute;
    bottom: 48px;
    /* left: 50%;
    transform: translateX(-50%); */
 
    /* left: 0px;
    right: 0px; */

    width: 100%;
    text-align: center;
}

#slider .slider-text-title{
    font-size: 220%;
    font-weight: 500;
    font-style: 24px;
    margin-bottom: 25px;
}

#slider .slider-text-dsc{
    font-style: 15px;
}



/* Content */
#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%; /*tablet responsive*/
    margin: auto;
    padding: 64px 0px;
    padding-left: 16px;
    padding-right: 16px; /*tablet responsive*/
}

#content .content-section-title {
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#content .content-section-slogan {
    font-style: italic;
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-content-section.content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .content-section-title,
#content .content-section-slogan {
    text-align: center;
}

#content .band-members{
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-avt {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour */
.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    color: #000;
    background-color: #FFF;
}

.tickets-list li {
    list-style: none;
    color: #757575;
    font: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #DDD;
}

.tickets-list .sold-out {
    float: right;
    color: #FFF;
    background-color: #F44336;
    padding: 3px 8px;
    
}

.tickets-list .tickets-left {
    float: right;
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.tour-places {
    margin-top: 32px;
    margin-bottom: 48px;
}


/* Place */
.place-img {
    width: 100%;
    display: block;
}

.place-body {
    background-color: #FFF;
    color: #000;
    font-size: 15px;
    padding: 16px;
}

.place-body-title {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-content {
    margin-top: 15px;
    line-height: 1.5;
}

.place-buy-btn {
    display: inline-block;
    color: #FFF;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    border: 1px solid #000;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #CCC;
}

/* Contact form */
.contact-form {
    margin-top: 48px;
}

.contact-form-infor {
    font-size: 18px;
    line-height: 1.5;
}

.contact-form-infor i[class*="fa-solid"] {
width: 30px;
display: inline-block;
}

.contact-form .form-control {
    padding: 11px;
    border: solid 1px #CCC;
    width: 100%;
    outline: none;
}

.contact-form .contact-form-submit {
    background-color: #000;
    color: #FFF;
    border: solid 1px #000;
    padding: 10px 16px ;
    float: right;
    cursor: pointer;
}

.contact-form .contact-form-submit:hover {
    background: #CCC;
    color: #000;
}

/* map */
.map-section img {
    width: 100%;
}

/* Footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-network a {
    font-size: 24px;
    color: #666;
    cursor: pointer;
}

#footer .social-network a:hover {
    opacity: 0.81;
}

#footer .copyright {
    font-size: 12px;
}

#footer .last-btn {
    border-radius: 32px;
    padding: 8px 16px;
    font-size: 12px;
    border: none;
    color:#FFF;
    background: #666;
}

#footer .last-btn:hover {
    color: #666;
    background: #CCC;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #FFF;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-header {
    background-color: #009688;
    color: #FFF;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.modal-heading-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.81;
    color: #FFF
}

.modal-heading-close:hover {
    background-color: rgba(255, 255, 255, 0.81);
    opacity: 1;
    color: #009688;
}

.modal-heading-bag {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 9px;
}

.modal-input {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #CCC;
    margin-bottom: 27px;
}

#buy-tickets {
    width: 100%;
    border: solid 1px #CCC;
    color: #FFF;
    background-color: #009688;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    color:#009688;
    background-color:  #FFF;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    text-decoration: none;
    color: #00A8E8;
}

/* 
    PC: >= 1024px
    Tablet: >= 740px & < 1024px
    Mobile: < 740px
*/

/* PC */
/* @media (min-width: 1024) {
    
} */

/* Tablet */
/* @media (max-width: 1023px) and (min-width: 741px) {
    
} */

/* Mobile */
@media (max-width: 740px) {
    #header .nav-bar {
        position: absolute;
        top: 0;
        right: 0;
    }
    }

    #nav {
        display: block
    }
    
    #nav > li {
        display: block;
    }
    #nav > li  a{
        display: block;
    }

    #header .nav-search {
        display: none;
    }
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    
    }
}