/* 3 kiểu dùng css
- inline (phèn)
- internal (cũng phèn)
-external (đúng đúng đúng) */

/* Các đơn vị hay dùng
* Absolute units
- px
- pt
- cm
- mm
- inch
- picture

* Relative units
- %
- rem (bằng kích cỡ chữ của thẻ html - mặc định là 16px)
- em  (bằng kích cỡ chữ của thẻ cha chứa nó gần nhất có set font-size)
- vw (chiều rộng bằng chiều ngang của màn hình hiển thị)
- vh (chiều cao bằng chiều dọc của màn hình hiển thị) */

/* Hàm trong css
- var(): gọi biến vào
- linearGradient()
- rgba()
- rgb
- calc(): tính toán 
- attr() */

/* Pseudo-classes (lớp giả) */

:root {
    --text-color: #FFFFFF;
    --background-color: #00171F;
    --button-color: #003459;
    --other-color: #007EA7;
    --button-2nd-color: #00A8E8;
}  /* Đặt biến giống trong ngôn ngữ lập trình khác thôi =))) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} /* reset css */

html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
/* 
Bôi đen điểm chung -> CTRL +  SHIFT + L -> Mũi tên qua phải ( > ) -> CTRL + SHIFT + ( > ) -> CTRL + C 
-> Qua file css paste -> ALT + CLICK  -> # -> CTRL + ( > ) -> {}
 */

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Styles (Fonts chữ, tròn, vuông, ...)
*/

#main{

}

#header{

}

#content{

}

#footer{

}
