/* 3 kiểu dùng css
- inline (phèn)
- internal (cũng phèn)
-external (đúng đúng đúng) */

/* Các đơn vị hay dùng
* Absolute units
- px
- pt
- cm
- mm
- inch
- picture

* Relative units
- %
- rem (bằng kích cỡ chữ của thẻ html - mặc định là 16px)
- em  (bằng kích cỡ chữ của thẻ cha chứa nó gần nhất có set font-size)
- vw (chiều rộng bằng chiều ngang của màn hình hiển thị)
- vh (chiều cao bằng chiều dọc của màn hình hiển thị) */

/* Hàm trong css
- var(): gọi biến vào
- linearGradient()
- rgba()
- rgb
- calc(): tính toán 
- attr() */

/* Pseudo-classes (lớp giả) */

:root {
    --text-color: #FFFFFF;
    --background-color: #00171F;
    --button-color: #003459;
    --other-color: #007EA7;
    --button-2nd-color: #00A8E8;
    --nav-heigh: 46px;
}  /* Đặt biến giống trong ngôn ngữ lập trình khác thôi =))) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} /* reset css */

html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
/* 
Chọn cùng lúc nhiều Class, ID đưa qua css
Bôi đen điểm chung -> CTRL +  SHIFT + L -> Mũi tên qua phải ( > ) -> CTRL + SHIFT + ( > ) -> CTRL + C 
-> Qua file css paste -> ALT + CLICK  -> # -> CTRL + ( > ) -> {}
 */

/* 
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí (Vị trí các phần; Header, Content, ...)
2. Kích thước
3. Màu sắc
4. Styles (Fonts chữ, tròn, vuông, ...)
*/

#main{

}

#header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    height: var(--nav-heigh);
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav  li {
    position: relative;
}

#nav > li > a {
    color: #FFFFFF;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: var(--nav-heigh);
    padding: 0px 24px;
    /* padding: 12px 24px; */
}

#nav > li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    display: inline-block;
    color: #000;
    background-color: #CCC;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #FFF;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    display: block;
    color: #000;
    min-width: 160px;
    padding: 0px 12px;
    line-height: 38px ;
}

#nav .subnav li:hover a {
    color: #000;
    background-color: #CCC;
}

#header .nav-search {
    display: inline-block;
    float: right;
    line-height: var(--nav-heigh);
    padding: 0px 16px ;
}

#header .nav-search a {
    color: #FFF;
}

#header .nav-search:hover {
    background-color: #F44336 !important;
    cursor: pointer;
}

#slider {
    /* background-color: #CCC;
    height: 1000px; */
    margin-top: var(--nav-heigh);
    padding-top: 50%;
    background: url('/the-band/assets/img/slider-1/chicago.jpg') top center / cover, no-repeat;
    /* https://youtu.be/BmkVXoKoqVA?t=640 */
}

#content {

}

#footer {

}
